:root{

    --font-default: #{$font-default};

    --bg-primary: #{$bg-primary};
    --bg-primary-light: #{$bg-primary-light};
    --bg-secondary: #{$bg-secondary};
    --bg-third: #{$bg-third};
    --bg-muted: #{$text-muted};
    --bg-general: #{$bg-general};

    --text-slider-header: #{$text-slider-header};
    --text-slider-paragraph: #{$text-slider-paragraph};
    --text-primary: #{$text-primary};
    --text-default: #{$text-default};
    --text-muted: #{$text-muted};
    --text-light: #{$text-light};
    --text-dark: #{$text-dark};

    --bg-btn-telefone: #{$bg-btn-telefone};
    --text-btn-telefone: #{$text-btn-telefone};
    --bg-btn-telefone: #{$bg-btn-cotar};
    --text-btn-telefone: #{$text-btn-cotar};
}
