/*          Produtos             */
.card img {
    width: 100%;
    height: 300px;
    transition: .3s ease-in-out;
}

.card h2{
    font-size: 1rem !important;
    font-weight: bold;
}

.card img:hover {
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

.card-body {
    background: #fff;
    position: relative;
}

div.col-lg-9.col-md-8.col-sm-12.nova-api p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    border-top: none;
    overflow: hidden;
}

/*          Produtos        end     */
