#topnav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background: var(--bg-general);
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#topnav .logo {
    float: left;
   color: var(--text-default) !important;
    /* zoom: 1.05; */
    transition: .2s;
}

#topnav.nav-sticky .logo {
    zoom: 1;
    transition: .2s;
}

#topnav .has-submenu.active a {
    color: #ffffff;
}

.submenu2 {
    left: 102%;
    width: 490px;
    height: 80vh;
    overflow-y: scroll;
    top: 0;
    margin-left: 10px;
    margin-top: -15px;
}

#topnav .has-submenu.active .submenu li.active>a {
    color: var(--bg-primary);
}

#topnav .has-submenu.active.active .menu-arrow {
    border-color: var(--bg-primary);
}

#topnav .has-submenu {
    position: relative;
}

#topnav .has-submenu .submenu .submenu-arrow {
    border: solid #3c4858;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow {
    border-color: var(--bg-primary);
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#topnav .navbar-toggle .lines {
    width: 25px;
    display: block;
    position: relative;
    margin: 32px 20px 24px;
    height: 18px;
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #3c4858;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

#topnav .navbar-toggle span:last-child {
    margin-bottom: 0;
}

#topnav .buy-button {
    float: right;
    line-height: 68px;
    padding: 3px 0;
}

#topnav .buy-button .login-btn-primary {
    display: none;
}

#topnav .buy-button .login-btn-light {
    display: inline-block;
}

#topnav .navbar-toggle.open span {
    position: absolute;
}

#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden;
}

#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#topnav .navbar-toggle.open span:hover {
    background-color: var(--bg-primary);
}

#topnav .navbar-toggle:hover,
#topnav .navbar-toggle:focus,
#topnav .navbar-toggle .navigation-menu>li>a:hover,
#topnav .navbar-toggle:focus {
    background-color: transparent;
}

#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topnav .navigation-menu>li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px;
}

#topnav .navigation-menu>li:hover>a,
#topnav .navigation-menu>li.active>a {
    color: var(--bg-primary) !important;
}

#topnav .navigation-menu>li>a {
    display: block;
   color: var(--text-default);
    font-size: 13px;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: var(--font-default), sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

#topnav .navigation-menu>li>a:hover,
#topnav .navigation-menu>li>a:active {
    color: var(--bg-primary);
}

#topnav .navigation-menu .has-submenu .menu-arrow {
    border: solid #3c4858;
    border-radius: 0.5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    right: -1px;
    top: 30px;
}

#topnav .menu-extras {
    float: right;
}

#topnav.scroll {
    background: var(--bg-general);
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

#topnav.scroll .navigation-menu>li>a {
   color: var(--text-default);
}

#topnav.scroll .navigation-menu>li>.menu-arrow {
    border-color: #3c4858;
}

#topnav.scroll .navigation-menu>li:hover>a,
#topnav.scroll .navigation-menu>li.active>a {
    color: var(--bg-primary);
}

#topnav.scroll .navigation-menu>li:hover>.menu-arrow,
#topnav.scroll .navigation-menu>li.active>.menu-arrow {
    border-color: var(--bg-primary);
}

#topnav.defaultscroll.dark-menubar .logo {
    line-height: 70px;
}

#topnav.defaultscroll.scroll .logo {
    line-height: 62px;
}

#topnav.defaultscroll.scroll.dark-menubar .logo {
    line-height: 62px;
}

#topnav.nav-sticky {
    background: var(--bg-general);
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

#topnav.nav-sticky .buy-button .login-btn-primary {
    display: inline-block;
}

#topnav.nav-sticky .buy-button .login-btn-light {
    display: none;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0;
    letter-spacing: 1px;
    line-height: 68px;
}

@media (min-width: 992px) {
    #topnav .navigation-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .arrow-element{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    #topnav .navigation-menu>.has-submenu>.submenu>.has-submenu>.submenu::before {
        top: 32px;
        margin-left: -35px;
        -webkit-box-shadow: 1px 1px 0px 0px rgba(60, 72, 88, 0.15);
        box-shadow: 1px 1px 0px 0px rgba(60, 72, 88, 0.15);
        border-color: transparent #ffffff #ffffff transparent;
    }
    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        list-style: none;
        min-width: 180px;
        height: 50vh;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        border-radius: 6px;
        background: #dedede;
        -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    }
    #topnav .navigation-menu>li .submenu:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 45px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
        box-shadow: -2px 2px 2px -1px rgba(60, 72, 88, 0.15);
    }
    #topnav .navigation-menu>li .submenu li {
        position: static;
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        padding: 10px 18px;
        clear: both;
        /* white-space: nowrap; */
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        font-weight: 700;
       color: var(--text-default) !important;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        min-width: 240px;
    }
    #topnav .navigation-menu>li .submenu li a:hover {
        color: var(--bg-primary) !important;
        background-color: #fff;
    }
    #topnav .navigation-menu>li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    #topnav .navigation-menu>li .submenu.megamenu {
        white-space: nowrap;
        width: auto;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        overflow: hidden;
        min-width: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }
    #topnav .navigation-menu>li .submenu>li .submenu {
        left: 100%;
        width: 490px;
        height: 45vh;
        overflow-y: scroll;
        top: 0;
        margin-left: 10px;
        /* margin-top: -15px; */
    }
    #topnav .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 26px;
        min-height: 62px;
    }
    #topnav .navigation-menu>li:hover>.menu-arrow {
        border-color: var(--bg-primary);
    }
    #topnav .navigation-menu>li:hover>a,
    #topnav .navigation-menu>li.active>a {
        color: var(--bg-primary) !important;
    }
    #topnav .navigation-menu>li.last-elements .submenu {
        left: auto;
        right: 0;
    }
    #topnav .navigation-menu>li.last-elements .submenu:before {
        left: auto;
        right: 10px;
    }
    #topnav .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    #topnav .navbar-toggle {
        display: none;
    }
    #topnav #navigation {
        display: block !important;
    }
    #topnav.scroll {
        top: 0;
    }
    #topnav.scroll .navigation-menu>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topnav.scroll-active .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 991px) {
    #topnav {
        background: var(--bg-general);
        -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        min-height: 74px;
    }
    #topnav .container {
        width: auto;
    }
    #topnav #navigation {
        max-height: 400px;
    }
    #topnav .navigation-menu {
        float: none;
    }
    #topnav .navigation-menu>li {
        float: none;
    }
    #topnav .navigation-menu>li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        position: relative;
        padding: 7px 15px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.04em;
        font-weight: 700;
       color: var(--text-default) !important;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    #topnav .navigation-menu>li .submenu.open {
        display: block;
    }
    #topnav .navigation-menu>li .submenu .submenu {
        display: none;
        list-style: none;
    }
    #topnav .navigation-menu>li .submenu .submenu.open {
        display: block;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul {
        list-style: none;
        padding-left: 0;
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: var(--text-muted);
    }
    #topnav .navigation-menu>li>a {
       color: var(--text-default);
        padding: 10px 20px;
    }
    #topnav .navigation-menu>li>a:after {
        position: absolute;
        right: 15px;
    }
    #topnav .navigation-menu>li>a:hover,
    #topnav .navigation-menu>li .submenu li a:hover,
    #topnav .navigation-menu>li.has-submenu.open>a {
        color: var(--bg-primary);
    }
    #topnav .menu-extras .menu-item {
        border-color: var(--text-muted);
    }
    #topnav .navbar-header {
        float: left;
    }
    #topnav .buy-button .login-btn-primary {
        display: inline-block !important;
    }
    #topnav .buy-button .login-btn-light {
        display: none;
    }
    #topnav .has-submenu .submenu .submenu-arrow {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px;
    }
    #topnav .has-submenu.active a {
        color: var(--bg-primary);
    }
    #navigation {
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #f1f3f9;
        border-bottom: 1px solid #f1f3f9;
        background: var(--bg-general);
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {
    #topnav .navigation-menu .has-submenu .menu-arrow {
        right: 16px;
        top: 16px;
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 375px) {
    #topnav .buy-button {
        display: none;
    }
    #topnav .buy-menu-btn {
        display: block !important;
        margin: 0 10px;
        padding: 10px 20px;
    }
    #topnav .navbar-toggle .lines {
        margin-right: 0 !important;
    }
}