.products-carousel-home img{
    z-index: -1; 
    opacity: .8; 
    object-fit: cover;
    transition: .3s all;
}

.products-carousel-home h3 {
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 25px;
    display: inline-block;
    width: 80%;
    line-height: 1.5;
    transform: translateX(15%);
    /*text-shadow: 1px 1px 1px #fff;*/
    font-size: 1.2rem;
    text-align: left !important;
    color: #fff !important;
}

.products-carousel-home .card-body {
    height: 280px;
    max-height: 100%;
    text-align: center;
}

.products-carousel-home .card-body:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .3);
}

.products-carousel-home:hover img{
    transform: scale(1.1);
    overflow: hidden;
    transition: .3s all;
}